body {
    margin: 0px;
}
nav {
    display: flex;
    width: 100%;
    align-items: center;
    height: 3rem;
    margin: 0;
    box-shadow: 5px 3px 19px 11px rgb(0 0 0 / 20%);
}
a {
    text-decoration: none;
    color: rgb(19, 19, 58);
}
li {
    list-style: none;
    margin: 10%;
}
button {
    border: none;
    background: none;
}
.hidden {
    display: none;
}
.navCenter {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: baseline;
}
.nav-header {
    display: flex;
    z-index: 2;
    justify-content: space-around;
    align-items: baseline;
}
.nav-toggle {
    font-size: 1rem;
}
.links {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.social-icons {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: baseline;
}
article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: initial;
    margin-top: 10rem;
}
article h1 {
    color: rgb(111, 166, 243);
}
.sideNav {
    border: 2px solid black;
    padding: 2%;
    text-transform: uppercase;
    color: rgb(11, 11, 58);
    font-weight: bold;
    background: rgb(173, 192, 219);
    border-radius: 47px;
    box-shadow: 1px 7px 8px -3px black;
}
@media only screen and (max-width: 800px){
    .hidden {
        display: flex;
    }
    .nav-close {
        display: none;
    }
    .nav-header {
        width: 94%;
        justify-content: space-between;
        padding: 0% 3%;
    }
    .tittle{
        width: 50%;
    }
    .links {
        overflow: hidden;
        transition: all ease-out 0.5s;
        position: absolute;
        flex-direction: column;
        column-gap: 1rem;
        grid-template-columns: auto 1fr auto;
        transform: translateY(-150%);
        background: white;
        left: 0;
        z-index: 0;
        width: 100%;
        margin: 18% 5% 0%;
        padding-bottom: 10rem;
    }
    .social-icons {
        position: absolute;
        transition: all ease-out 0.5s;
        column-gap: 1rem;
        grid-template-columns: auto 1fr auto;
        transform: translateY(-40rem);
        width: 100%;
        bottom: 10rem;
        right: 0;
        background: white;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
    }
    .show-links {
        transform: translateY(0%);
    }
    li {
        margin: 8% 10%;
    }
    .sideNav {
        padding: 5%;
    }
}